<!--Componente navbar-->

<nav class="navbar navbar-expand-lg navbar-dark bg-info">
    <a class="navbar-brand" href="#">
      <img src="favicon.ico" width="74" alt="logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link mr-2" href="#"><span ><i class="fas fa-home"></i></span> Inicio <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="visitante/contactanos-screen"><span><i class="far fa-address-book"></i></span> Contáctanos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="visitante/encuentranos-screen"><span><i class="fas fa-map-marker-alt"></i></span> Encuentranos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="admin/paciente-admin-screen"><span><i class="fas fa-users"></i></span> Pacientes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="admin/doctor-admin-screen"><span><i class="fas fa-user-nurse"></i></span> Doctores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="admin/contacto-admin-screen"><span><i class="fas fa-address-book"></i></span> Contactos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="admin/citas-admin-screen"><span><i class="fas fa-calendar-alt"></i></span> Citas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="admin/contactoPersonal-admin-screen"><span><i class="fas fa-address-card"></i></span> Contactos Esp.</a>
        </li>
      </ul>
    </div>
</nav>