<app-nav-bar-admin></app-nav-bar-admin>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2 col-2 d-none d-lg-block mt-1 bg-info">
            <div class="row">
                <div class="col" [ngStyle]="{'height': screenHeight + 'px'}">
                    <app-nav-bar-izq-admin></app-nav-bar-izq-admin>
                </div>
            </div>
        </div>
        <div class="col-lg-10 col-10 d-none d-lg-block mt-1 bg-info">
            <div class="row">
                <div class="col bg-white" [ngStyle]="{'height': screenHeight + 'px'}">
                    <app-modificar-cita-admin></app-modificar-cita-admin>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>